# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store